<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Planificador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Planificador</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="datos-registro">
  <ion-list>
    <ion-item>
      <ion-input label="Nombre" placeholder="Ingrese nombre" [(ngModel)]="nombreUsuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Apellido" placeholder="Ingrese apellido" [(ngModel)]="apellidoUsuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Usuario" placeholder="Ingrese nombre de usuario" [(ngModel)]="nickname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select label="Pedagogía" placeholder="Seleccione Tipo" [(ngModel)]="tipoPedagogia">
        <ion-select-option value="p-ingles">Pedagogía en Inglés</ion-select-option>
        <ion-select-option value="p-mate">Pedagogía en Matemáticas</ion-select-option>
        <ion-select-option value="p-leng">Pedagogía en Lenguaje</ion-select-option>
        <ion-select-option value="p-ciencias">Pedagogía en Ciencias</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input label="E-mail" labelPlacement="floating" placeholder="ejemplo@gmail.com" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-button (click)="limpiarCeldas()">Limpiar</ion-button> <ion-button (click)="showPopup()">Mostrar</ion-button> 
  </ion-list>
  </div>
</ion-content>

<app-footer></app-footer>