<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Revisión de Calendario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">rev-calen</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="calendario">
    <ion-datetime [firstDayOfWeek]="1" presentation="date"></ion-datetime>
  </div>  

  <div class="festividades">
  <button mat-raised-button (click)="openBottomSheet()">Festivos Año 2024</button>
  </div>

</ion-content>

<app-footer></app-footer>