<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Planificación de Clase</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Planificación de Clase</ion-title>
    </ion-toolbar>
  </ion-header>
    <strong>Página en construcción</strong>
    <ion-text>Pronto un planificador de clase a clase</ion-text>
  <mat-spinner></mat-spinner>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title>App desarrollada por Claudia Vidal</ion-title>
  </ion-toolbar>
</ion-footer>
