<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Planificación de Clase</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Planificación de Clase</ion-title>
    </ion-toolbar>
  </ion-header>
    <div class="texto">
    <h1><strong>¡Página en construcción!</strong></h1><br>
    <ion-text>Pronto un planificador de clase a clase</ion-text>
    </div>
  <mat-spinner></mat-spinner>
</ion-content>

<app-footer></app-footer>