<ion-header>
  <ion-toolbar>
    <ion-title>
      Planificador
    </ion-title>
    <ion-text>Aquí comienza todo</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Planificador</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="titulo-registro">
    <h1>¡Bienvenido/a!</h1>
    <p>Usuario: {{ usuarioRecibido }}</p>
    <h2>¿Con qué deseas trabajar hoy?</h2>
  </div>

  

</ion-content>
