ion-toolbar{
    --background: #C71755;
    color: #f0ddbd;
  }

ion-header{
    text-align: center;
}

ion-header ion-title{
    font-size: 28px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

.titulo-registro{
    text-align: center;
      
    position: absolute;
    left: 0;
    right: 0;
    top: 15%;
}

mat-grid-list{
    display: grid;
    top: 40%;
    margin: 5px;
}

mat-grid-tile{
    background: #5B9B9A;
    color: antiquewhite;
    border-radius: 15%;
    }